.container {
  h2 {
    margin-bottom: 0.5em;
    font-size: 1em;
  }

  .list-item {
    display: grid;
    grid-template-columns: 7.5rem 1fr;
    font-size: 0.9em;

    span {
      &:first-child {
        padding-right: 0.5rem;
        font-weight: bold;
      }
    }
  }
}
