.container {
  h2 {
    margin-bottom: 0.5em;
    font-size: 1em;
  }

  table {
    border-collapse: collapse;
    width: 100%;
    table-layout: fixed;

    tr {
      vertical-align: top;
      font-size: 0.9em;

      td:first-child {
        width: max-content;
        font-weight: bold;
      }

      td:last-child {
        padding-left: clamp(0.5em, 4vw, 2em);
      }
    }
  }
}
