.container {
  padding-bottom: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid var(--blue);

  h2 {
    font-size: 1em;
    margin-bottom: .5em;
  }

  table {
    border-collapse: collapse;

    tr {
      font-size: .9em;

      td:first-child {
        font-weight: bold;
      }

      td:last-child {
        padding-left: .5em;
      }
    }
  }
}