.container {
  display: flex;
  justify-content: space-between;

  .link {
    display: flex;
    align-items: center;
    font-size: 1.5em;

    &:focus {
      outline: var(--blue) 2px auto;
    }

    .image-container {
      position: relative;
      margin-right: 0.5em;
      width: clamp(30px, 8vw, 70px);
      height: clamp(30px, 8vw, 70px);
    }
  }
}

@media screen and (min-width: 481px) and (max-width: 864px) {
  .container {
    .link {
      font-size: clamp(0.8em, 2.7vw, 1.6em);
    }
  }
}

@media screen and (max-width: 480px) {
  .container {
    display: block;

    .link {
      font-size: 4.4vw;

      &:first-child {
        margin-bottom: 0.5em;
      }
    }
  }
}
