.container {
  position: fixed;
  top: 0;
  left: 0;
  opacity: 0;
  z-index: 1;
  transition: opacity 0.5s ease;
  border-bottom: 2px solid var(--blue);
  background-color: var(--white);
  width: 100vw;

  ul {
    display: grid;
    grid-template-columns: repeat(6, min-content);
    column-gap: 2em;
    align-items: center;
    margin: 0 auto;
    padding: 0.75em 2rem;
    width: max-content;
    height: 100%;
    list-style: none;
  }
}

.visible {
  opacity: 100;
  transition: opacity 0.5s ease;
}

@media screen and (max-width: 628px) {
  .container {
    ul {
      grid-template-columns: repeat(3, 5em);
      row-gap: 0.5em;
      li {
        place-self: center;
      }
    }
  }
}

@media screen and (max-width: 380px) {
  .container {
    font-size: clamp(0.8em, 4.25vw, 1em);
  }
}
