.container {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 1em;
  border-bottom: 2px solid var(--blue);

  button {
    all: unset;
    position: relative;
    cursor: pointer;
    width: calc(50% - .5em);
    height: clamp(196px, calc(50vw - 2.5em), 392px);
    box-shadow: 1px 1px 1px var(--black-transparent);
    margin-bottom: 1em;

    &:focus {
      outline: var(--blue) 2px auto;
    }

    p {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      padding: .5em 0;
      text-align: center;
      font-weight: bold;
      text-shadow: 1px 1px 1px var(--white-transparent);
      backdrop-filter: blur(10px);
    }

    .noscript {
      all: unset;
      position: absolute;
      inset: 50%;
      transform: translate(-50%, -50%);
      background-color: var(--white);
    }
  }
}

@media screen and (max-width: 480px) {
  .container {
    display: block;

    button {
      display: block;
      width: 100%;
      height: calc(100vw - 4em);
    }
  }
}