.container {
  display: flex;

  .image-container {
    position: relative;
    box-shadow: 0 0 2px var(--black);
    width: 38.2%;
    height: auto;
  }

  .content {
    padding-left: 1em;
    width: 61.8%;

    h1 {
      margin-bottom: 1em;
      font-size: 1.5625em;
    }

    .body {
      h2 {
        margin-bottom: 0.5em;
        font-size: 1em;
      }

      p {
        font-size: 0.9em;

        &:nth-child(2n) {
          font-weight: bold;
        }

        &:nth-child(2n + 1) {
          padding-bottom: 0.5em;
          padding-left: 1em;
        }

        &:last-child {
          padding-bottom: 0;
        }
      }
    }
  }
}

@media screen and (max-width: 635px) {
  .container {
    .content {
      h1 {
        font-size: clamp(1.175em, 3.88vw, 1.5625em);
      }
    }
  }
}

@media screen and (max-width: 573px) {
  .container {
    display: block;

    .image-container {
      margin-bottom: 0.5em;
      width: 100%;
      height: calc(100vw - 4em);
    }

    .content {
      padding-left: 0;
      width: 100%;
    }
  }
}
