.scroll-button {
  position: fixed;
  right: calc(50vw - 400px - 3em);
  bottom: 1em;
  opacity: 0;
  border: none;
  background: transparent;
  padding: 0;
}

.visible {
  opacity: 100;
}

@media screen and (max-width: 900px) {
  .scroll-button {
    right: 0;
    img {
      width: 2rem;
      height: 2rem;
    }
  }
}
