.container {
  position: fixed;
  right: calc(50vw - 400px - 2em);
  bottom: 1em;
  cursor: pointer;

  button {
    all: unset;
  }

  .visible {
    opacity: 100;
  }

  .invisible {
    opacity: 0;
  }
}

@media screen and (max-width: 865px) {
  .container {
    right: 0;
  }
}
